@media screen and (min-width: 1200px) {
  .container {
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin:0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row {
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
  }
  .container .row .col-lg-1 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .container .row .col-lg-push-1 {
    left: 8.33333%;
  }
  .container .row .col-lg-pull-1 {
    right: 8.33333%;
  }
  .container .row .col-lg-2 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .container .row .col-lg-push-2 {
    left: 16.66667%;
  }
  .container .row .col-lg-pull-2 {
    right: 16.66667%;
  }
  .container .row .col-lg-3 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-3 {
    margin-left: 25%;
  }
  .container .row .col-lg-push-3 {
    left: 25%;
  }
  .container .row .col-lg-pull-3 {
    right: 25%;
  }
  .container .row .col-lg-4 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .container .row .col-lg-push-4 {
    left: 33.33333%;
  }
  .container .row .col-lg-pull-4 {
    right: 33.33333%;
  }
  .container .row .col-lg-5 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .container .row .col-lg-push-5 {
    left: 41.66667%;
  }
  .container .row .col-lg-pull-5 {
    right: 41.66667%;
  }
  .container .row .col-lg-6 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-6 {
    margin-left: 50%;
  }
  .container .row .col-lg-push-6 {
    left: 50%;
  }
  .container .row .col-lg-pull-6 {
    right: 50%;
  }
  .container .row .col-lg-7 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .container .row .col-lg-push-7 {
    left: 58.33333%;
  }
  .container .row .col-lg-pull-7 {
    right: 58.33333%;
  }
  .container .row .col-lg-8 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .container .row .col-lg-push-8 {
    left: 66.66667%;
  }
  .container .row .col-lg-pull-8 {
    right: 66.66667%;
  }
  .container .row .col-lg-9 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-9 {
    margin-left: 75%;
  }
  .container .row .col-lg-push-9 {
    left: 75%;
  }
  .container .row .col-lg-pull-9 {
    right: 75%;
  }
  .container .row .col-lg-10 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .container .row .col-lg-push-10 {
    left: 83.33333%;
  }
  .container .row .col-lg-pull-10 {
    right: 83.33333%;
  }
  .container .row .col-lg-11 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .container .row .col-lg-push-11 {
    left: 91.66667%;
  }
  .container .row .col-lg-pull-11 {
    right: 91.66667%;
  }
  .container .row .col-lg-12 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-lg-offset-12 {
    margin-left: 100%;
  }
  .container .row .col-lg-push-12 {
    left: 100%;
  }
  .container .row .col-lg-pull-12 {
    right: 100%;
  }
  .container .row .col-lg-hidden {
    display: none;
  }
  .container-fluid {
    width: 100%;
  }
}

@media screen and (min-width: 992px) and (min-width: 1200px) {
  .container {
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row {
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
  }
  .container .row .col-md-1 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .container .row .col-md-push-1 {
    left: 8.33333%;
  }
  .container .row .col-md-pull-1 {
    right: 8.33333%;
  }
  .container .row .col-md-2 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .container .row .col-md-push-2 {
    left: 16.66667%;
  }
  .container .row .col-md-pull-2 {
    right: 16.66667%;
  }
  .container .row .col-md-3 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-3 {
    margin-left: 25%;
  }
  .container .row .col-md-push-3 {
    left: 25%;
  }
  .container .row .col-md-pull-3 {
    right: 25%;
  }
  .container .row .col-md-4 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .container .row .col-md-push-4 {
    left: 33.33333%;
  }
  .container .row .col-md-pull-4 {
    right: 33.33333%;
  }
  .container .row .col-md-5 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .container .row .col-md-push-5 {
    left: 41.66667%;
  }
  .container .row .col-md-pull-5 {
    right: 41.66667%;
  }
  .container .row .col-md-6 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-6 {
    margin-left: 50%;
  }
  .container .row .col-md-push-6 {
    left: 50%;
  }
  .container .row .col-md-pull-6 {
    right: 50%;
  }
  .container .row .col-md-7 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .container .row .col-md-push-7 {
    left: 58.33333%;
  }
  .container .row .col-md-pull-7 {
    right: 58.33333%;
  }
  .container .row .col-md-8 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .container .row .col-md-push-8 {
    left: 66.66667%;
  }
  .container .row .col-md-pull-8 {
    right: 66.66667%;
  }
  .container .row .col-md-9 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-9 {
    margin-left: 75%;
  }
  .container .row .col-md-push-9 {
    left: 75%;
  }
  .container .row .col-md-pull-9 {
    right: 75%;
  }
  .container .row .col-md-10 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .container .row .col-md-push-10 {
    left: 83.33333%;
  }
  .container .row .col-md-pull-10 {
    right: 83.33333%;
  }
  .container .row .col-md-11 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .container .row .col-md-push-11 {
    left: 91.66667%;
  }
  .container .row .col-md-pull-11 {
    right: 91.66667%;
  }
  .container .row .col-md-12 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-md-offset-12 {
    margin-left: 100%;
  }
  .container .row .col-md-push-12 {
    left: 100%;
  }
  .container .row .col-md-pull-12 {
    right: 100%;
  }
  .container .row .col-md-hidden {
    display: none;
  }
  .container-fluid {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (min-width: 992px) {
  .container {
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row {
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
  }
  .container .row .col-sm-1 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .container .row .col-sm-push-1 {
    left: 8.33333%;
  }
  .container .row .col-sm-pull-1 {
    right: 8.33333%;
  }
  .container .row .col-sm-2 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .container .row .col-sm-push-2 {
    left: 16.66667%;
  }
  .container .row .col-sm-pull-2 {
    right: 16.66667%;
  }
  .container .row .col-sm-3 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-3 {
    margin-left: 25%;
  }
  .container .row .col-sm-push-3 {
    left: 25%;
  }
  .container .row .col-sm-pull-3 {
    right: 25%;
  }
  .container .row .col-sm-4 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .container .row .col-sm-push-4 {
    left: 33.33333%;
  }
  .container .row .col-sm-pull-4 {
    right: 33.33333%;
  }
  .container .row .col-sm-5 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .container .row .col-sm-push-5 {
    left: 41.66667%;
  }
  .container .row .col-sm-pull-5 {
    right: 41.66667%;
  }
  .container .row .col-sm-6 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-6 {
    margin-left: 50%;
  }
  .container .row .col-sm-push-6 {
    left: 50%;
  }
  .container .row .col-sm-pull-6 {
    right: 50%;
  }
  .container .row .col-sm-7 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .container .row .col-sm-push-7 {
    left: 58.33333%;
  }
  .container .row .col-sm-pull-7 {
    right: 58.33333%;
  }
  .container .row .col-sm-8 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .container .row .col-sm-push-8 {
    left: 66.66667%;
  }
  .container .row .col-sm-pull-8 {
    right: 66.66667%;
  }
  .container .row .col-sm-9 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-9 {
    margin-left: 75%;
  }
  .container .row .col-sm-push-9 {
    left: 75%;
  }
  .container .row .col-sm-pull-9 {
    right: 75%;
  }
  .container .row .col-sm-10 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .container .row .col-sm-push-10 {
    left: 83.33333%;
  }
  .container .row .col-sm-pull-10 {
    right: 83.33333%;
  }
  .container .row .col-sm-11 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .container .row .col-sm-push-11 {
    left: 91.66667%;
  }
  .container .row .col-sm-pull-11 {
    right: 91.66667%;
  }
  .container .row .col-sm-12 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-sm-offset-12 {
    margin-left: 100%;
  }
  .container .row .col-sm-push-12 {
    left: 100%;
  }
  .container .row .col-sm-pull-12 {
    right: 100%;
  }
  .container .row .col-sm-hidden {
    display: none;
  }
  .container-fluid {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row {
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
  }
  .container .row .col-xs-1 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 8.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-1 {
    margin-left: 8.33333%;
  }
  .container .row .col-xs-push-1 {
    left: 8.33333%;
  }
  .container .row .col-xs-pull-1 {
    right: 8.33333%;
  }
  .container .row .col-xs-2 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 16.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .container .row .col-xs-push-2 {
    left: 16.66667%;
  }
  .container .row .col-xs-pull-2 {
    right: 16.66667%;
  }
  .container .row .col-xs-3 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-3 {
    margin-left: 25%;
  }
  .container .row .col-xs-push-3 {
    left: 25%;
  }
  .container .row .col-xs-pull-3 {
    right: 25%;
  }
  .container .row .col-xs-4 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-4 {
    margin-left: 33.33333%;
  }
  .container .row .col-xs-push-4 {
    left: 33.33333%;
  }
  .container .row .col-xs-pull-4 {
    right: 33.33333%;
  }
  .container .row .col-xs-5 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 41.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-5 {
    margin-left: 41.66667%;
  }
  .container .row .col-xs-push-5 {
    left: 41.66667%;
  }
  .container .row .col-xs-pull-5 {
    right: 41.66667%;
  }
  .container .row .col-xs-6 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-6 {
    margin-left: 50%;
  }
  .container .row .col-xs-push-6 {
    left: 50%;
  }
  .container .row .col-xs-pull-6 {
    right: 50%;
  }
  .container .row .col-xs-7 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 58.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-7 {
    margin-left: 58.33333%;
  }
  .container .row .col-xs-push-7 {
    left: 58.33333%;
  }
  .container .row .col-xs-pull-7 {
    right: 58.33333%;
  }
  .container .row .col-xs-8 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-8 {
    margin-left: 66.66667%;
  }
  .container .row .col-xs-push-8 {
    left: 66.66667%;
  }
  .container .row .col-xs-pull-8 {
    right: 66.66667%;
  }
  .container .row .col-xs-9 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-9 {
    margin-left: 75%;
  }
  .container .row .col-xs-push-9 {
    left: 75%;
  }
  .container .row .col-xs-pull-9 {
    right: 75%;
  }
  .container .row .col-xs-10 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 83.33333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-10 {
    margin-left: 83.33333%;
  }
  .container .row .col-xs-push-10 {
    left: 83.33333%;
  }
  .container .row .col-xs-pull-10 {
    right: 83.33333%;
  }
  .container .row .col-xs-11 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 91.66667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-11 {
    margin-left: 91.66667%;
  }
  .container .row .col-xs-push-11 {
    left: 91.66667%;
  }
  .container .row .col-xs-pull-11 {
    right: 91.66667%;
  }
  .container .row .col-xs-12 {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row .col-xs-offset-12 {
    margin-left: 100%;
  }
  .container .row .col-xs-push-12 {
    left: 100%;
  }
  .container .row .col-xs-pull-12 {
    right: 100%;
  }
  .container .row .col-xs-hidden {
    display: none;
  }
  .container-fluid {
    width: 100%;
  }
}
